/* CSS declarations go here */
body {
	padding: 0px 20px;
	background: rgba(0, 0, 0, .05);
}

.out-box {
	background: white;
	padding: 5px 20px;
	-webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}

.col-fixed {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100%;
	overflow-y: scroll;
	padding: 20px;
}

.container-fluid {
}

h1 {
	margin: 30px;
	margin-left: 10px;
}

h3 {
	margin: 20px;
	margin-left: 5px;
}

.form-group label {
	margin-top: 7px;
}

.form-group .checkbox {
	padding-left: 45px;
}

.img-error-text {
	position: absolute;
}

table img {
	width: 350px;
	min-height: 100px;
	background: rgba(0, 0, 0, .05);
	border: rgba(0, 0, 0, .05) solid 3px;
}

table img.way-success {
	border: #5BEB89 solid 3px;
}

table img.way-error {
	border: #EB5B5B solid 3px;
}

.img-error-texto {
	color: red;
	display: none !important;
}

table img.way-error + .img-error-text {
}

table * {
	max-width: 470px;
}

.alert-change {
	position: fixed;
	top: 10px;
	right: 10px;
	display: none;
}